
.content .block {
    position: relative;
    width: 100%;
    padding: 70px 0 50px;
    float: left;
}

.content .block .img {
    position: absolute;
    top: -8px;
    left: 42%;
    background-image: url("../../image/commerce_insurance/img_bg_1.png");
    background-size: 100% 100%;
    width: 15%;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
}

.content .block_1 .business_list {
    position: relative;
    width: 100%;
    /*padding: 0 10%;*/
    float: left;
}

.content .block_1 .business_list .business_item {
    position: relative;
    float: left;
    /*padding: 0 50px;*/
    border-radius: 8px;
    height: 340px;
    width: 290px;
}

.content .block_1 .business_list .business_item:not(:last-child) {
    margin-right: 65px;
}

.content .block_1 .business_list .business_item .business_info {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding-top: 10px;
}

.content .block_1 .business_list .business_item .business_info .txt {
    position: relative;
    width: 100%;
    text-align: center;
}

.content .block_1 .business_list .business_item .business_info .txt .txt_1 {
    position: relative;
    width: 100%;
    line-height: 60px;
    color: rgb(255, 102, 0);
    font-size: 26px;
}

.content .block_1 .business_list .business_item .business_info .txt .txt_2 {
    position: relative;
    width: 100%;
    line-height: 30px;
    color: rgb(82, 82, 82);
    font-size: 16px;
}

.content .block_1 .business_list .business_item .business_info .business_img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.content .block_1 .business_list .business_item .business_info .business_img img {
}

.content .block_2 .advantage_list {
    position: relative;
    width: 100%;
    float: left;
    /*padding: 0 10%;*/
}

.content .block_2 .advantage_list .advantage_item {
    position: relative;
    /*width: 16%;*/
    /*float: left;*/
    text-align: center;
}

.content .block_2 .advantage_list .advantage_item:first-child {
    /*margin-left: 2%;*/
}

/*.content .block_2 .advantage_list .advantage_item img {*/
/*position: relative;*/
/*width: 70%;*/
/*margin: auto;*/
/*}*/

.content .block_2 .advantage_list .advantage_item .advantage_img {
    position: relative;
    width: 112px;
    height: 112px;
    margin: auto;
    border-radius: 50%;
}

.content .block_2 .advantage_list .advantage_item .advantage_img.bg_3 {
    padding: 35px;
}

.content .block_2 .advantage_list .advantage_item .txt {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.content .block_2 .advantage_list .advantage_item .txt .txt_1 {
    position: relative;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
}

.content .block_2 .advantage_list .advantage_item .txt .txt_2 {
    position: relative;
    width: 100%;
    font-size: 12px;
    color: rgb(158, 158, 158);
    line-height: 20px;
}

.content .block_3 {
    position: relative;
    width: 100%;
    float: left;
}

.content .block_3 .name_list {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 15px 20px;
}

.content .block_3 .name_list .name_item {
    position: relative;
    width: 22%;
    /*margin-right: 5%;*/
    float: left;
    text-align: center;
    line-height: 40px;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}

.content .block_3 .name_list .name_item:not(:last-child) {
    margin-right: 4%;
}

.content .block_3 .name_list .name_item.active,
.content .block_3 .name_list .name_item:hover {
    background-color: rgb(240, 130, 0);
    color: #fff;
    border: 1px solid rgb(240, 130, 0);
}

.content .block_3 .name_list .name_item.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 16px solid rgb(240, 130, 0);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 36px;
    left: 40%;
}

.content .block_3 .package_content_list {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 15px 0;
}

.content .block_3 .package_content_list .package_content_item {
    position: relative;
    float: left;
    width: 45%;
    height: 220px;
    margin-bottom: 20px;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 10px 8px;
    background-color: #fff;
}

.content .block_3 .package_content_list .package_content_item:nth-child(2n+1) {
    margin-right: 10%;
}

.content .block_3 .package_content_list .package_content_item .pck_head {
    position: relative;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
    float: left;
    padding-left: 20px;
}

.content .block_3 .package_content_list .package_content_item .pck_head .name {
    position: relative;
    font-size: 18px;
    margin-right: 20px;
    color: #999999;
}

.content .block_3 .package_content_list .package_content_item .pck_head .condition {
    position: relative;
    font-size: 12px;
}

.content .block_3 .package_content_list .package_content_item .pck_head .icon {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 24px;
    height: 24px;
    line-height: normal;
    background-image: url("../../image/commerce_insurance/icon_unchoose.png");
    background-size: 100% 100%;
}

.content .block_3 .package_content_list .package_content_item .pck_content {
    position: relative;
    width: 100%;
    float: left;
    padding: 8px 10px 8px 20px;
    font-size: 12px;
}

.content .block_3 .package_content_list .package_content_item .pck_content .head {
    position: relative;
    width: 100%;
    float: left;
    color: rgb(153, 153, 153);
    line-height: 40px;
}

.content .block_3 .package_content_list .package_content_item .pck_content .head .pck_project {
    position: relative;
    width: 50%;
    float: left;
}

.content .block_3 .package_content_list .package_content_item .pck_content .head .pck_account {
    position: relative;
    width: 50%;
    float: left;
}

.content .block_3 .package_content_list .package_content_item .pck_content .pck_item {
    position: relative;
    width: 100%;
    float: left;
    color: rgb(100, 100, 100);
    line-height: 30px;
}

.content .block_3 .package_content_list .package_content_item .pck_content .pck_item:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(240, 130, 0);
}

.content .block_3 .package_content_list .package_content_item .pck_content .pck_item .pck_project {
    position: relative;
    width: 50%;
    float: left;
}

.content .block_3 .package_content_list .package_content_item .pck_content .pck_item .pck_account {
    position: relative;
    width: 50%;
    float: left;
}

.content .block_3 .package_content_list .package_content_item .pck_content .txt {
    position: relative;
    width: 100%;
    float: left;
    line-height: 30px;
    color: rgb(153, 153, 153);
}

.content .block_3 .package_content_list .package_content_item.active {
    border: 1px solid rgb(240, 130, 0);
}

.content .block_3 .package_content_list .package_content_item.active .pck_head .name {
    color: rgb(240, 130, 0);
}

.content .block_3 .package_content_list .package_content_item.active .pck_head .icon {
    background-image: url("../../image/commerce_insurance/icon_choosed.png");
}

.bg_1 {
    background-color: #6fbdb8;
}

.bg_2 {
    background-color: #6a79bd;
}

.bg_3 {
    background-color: #ea8164;
}

.bg_4 {
    background-color: #6fa0ec;
}

.bg_5 {
    background-color: #a8be35;
}

.bg_6 {
    background-color: #65bce3;
}